/******** Start Basic CSS *********/
body{
    margin: 0px;
    padding: 0px;
}

*{
    font-family: HelveticaNeue,'Noto Naskh Arabic UI',Arial,sans-serif;
}
/********End Basic CSS Settings*********/


/******** Start basic nav CSS********/
nav ul{
    padding-left: 30px;
    height: 30px;
    list-style-type: none;
    display: flex;
    width: 100%;
}
nav ul li{
    list-style: none;
    
    margin-right: 30px;
    font-size: 14px;
    

}
nav{
    
    max-width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;

}
/******** Start basic nav CSS********/

/********* Start left nav css********/
#logo{
    height: 30px;
    width: 92px;
    order: 0;
    
    margin-right: 30px;
    margin-top: 10px;
}
/********* end left nav css********/   
/********* Start mid nav css********/
.input-search{
    
    padding-left: 20px;
    
    
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    height: 39px;
    width: 690px;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    
    
    
}

.input_nav{
    
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    
    height: 34px;
    font-size: 16px;
    

}
.mic-search{
    height: 24px;
    width: 24px;
    vertical-align: middle;
    padding-right: 15px;
    padding-top:10px;
    padding-left:10px ;


}
.cross-icon{
    height: 50px;
    width: 24px;
    flex: 1 0 auto;
    display: none;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    line-height: 44px;
}

.search-icon{
    background: none;
    
    height: 24px;
    width: 24px;
    margin: auto;
    padding-right: 15px;
    padding-top:4px;

}
/********* Start mid nav css********/
/*******Srart right Nav***********/
.r-nav{
    display: flex; 
    justify-content: space-between;
    order: 3;
    margin-left: 300px;
}

.btn-nav{
    background-color: #4285f4;
    border: 1px solid #4285f4;
    color: #FFF;
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 2px;
    text-decoration:none;
    
}
.item-icon{
    margin-top: 8px;
    
}

/*******end right Nav***********/
/******** Start Search Modes css **********/

.search-modes-conteainer{
    margin-top: 6px;
    border-bottom: 1px solid #ebebeb;
}
.search-modes{
    margin-left: 160px;
    display: flex;
    font-size: 14px;
    
}
.search-mode-icon{
    display: block;
    height: 16px;
    width: 16;
}
.search-modes ul{
display: flex;
list-style-type: none;
}
.search-modes ul li{
    text-decoration: none;
}
.search-modes ul li a{
    text-decoration: none;
    color: #5f6368;
}
.left-search-modes{
display: flex;
}
.left-search-modes li {
    display: flex;
    padding-right: 12px;
}

.search-mode-icon{
    display: block;
    height: 16px;
    width: 16;
    padding-right: 4px;
}
.right-search-modes{
    display: flex;
    margin-left: 130px;
}
.right-search-modes li{
    padding-right: 12px;
    
    
}
.all{
    height: 160%;
    border-bottom: 3px solid #1a73e8;

}

/******** End Search Modes css **********/
/********Start  basic main css**************/
main{
    margin-left:205px ;
}
/********End basic main css**************/

/********Start results CSS***************/

.results{
    display: flex;
    font-size: 14px;
    color: #70757a;
}
.result_nobr{
white-space: nowrap;  
line-height: 43px; 
}
/********end results CSS***************/
/********Start left main CSS***************/
.left-main{
    width: 55%;
}
cite{
    
    font-style: normal;
    font-size:14px;
}
.down-arrow{
padding-left: 8px;

}
h3{
    color: #1a0dab;
    font-size: 20px;
    line-height: 1;
    margin-bottom:8px ;
    
}
.a-left-main { 
        text-decoration: none; 
    } 
.a-left-main:hover { 
        text-decoration: underline; 
    } 

.st{
    line-height: 1.3;
    word-wrap: break-word;
    font-size: 14px;
}
.first-items{
    display:flex;
    
    
    
    
}
.first-items p {
    font-size: 14px;
    

}
.more_results{
    font-size: 14px;
    
}
.speace_result{
    margin-top: 30px;
    padding-top: 5px;
}
.span_cite{
    color: #70757a;
    font-size: 14px;
}
.seocnd-items{
display: flex;
}
.left-second-result{
    width: 50%;
}
.left-second-result p{
    font-size: 14px;
}
.right-second-result p{
    font-size: 14px;
}

.forth_result{
    width: 600px;
    display: flex;
    flex-direction: column;
    border: 1px solid #dfe1e5;
    border-radius: 10px;
    
}
.forth_result h2{
    color: #222;
    font-size: 20px;
    padding: 9px 16px;
    line-height: 1.3;
    font-weight: normal;
    margin: 0;
    
}
.forth-item{
    border-bottom: 1px solid #dfe1e5;
    width: 100%;
    display: flex;
    
}
.fa-angle-down{
    
    position: absolute !important;
    left: 58%;
    color: #70757a;
    
}
.a-forth-div{
    margin-top: 5px;
    display: flex;
    flex-direction: row-reverse;
}
.a-forth{
    font-size:12px;
    padding-right: 35px;
    text-decoration: none;
    color: #70757a;
    font-style: italic;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
}
.black-h3{
    color: #000000;
}
.seventh-item{
    display: flex;
   
}
.left-seventh-item{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.right-seventh-item{
    display: flex;
    flex-direction: column;
}
.google-page{
    display: flex;
    justify-content: center;
}
.image-page{

    margin-left: 200px;
}
/********End left main CSS***************/


