/******** Start Basic CSS *********/
body{
    margin: 0px;
    padding: 0px;
}

*{
    font-family: HelveticaNeue,'Noto Naskh Arabic UI',Arial,sans-serif;
}
/********End Basic CSS Settings*********/


/******** Start basic nav CSS********/
nav ul{
    padding-left: 30px;
    height: 30px;
    list-style-type: none;
    display: flex;
    width: 100%;
}
nav ul li{
    list-style: none;
    
    margin-right: 30px;
    font-size: 14px;
    

}
nav{
    max-width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;

}
/******** Start basic nav CSS********/

/********* Start left nav css********/
#logo{
    height: 30px;
    width: 92px;
    order: 0;
    
    margin-right: 30px;
    margin-top: 10px;
}
/********* end left nav css********/   
/********* Start mid nav css********/
.input-search{
    
    padding-left: 20px;
    
    
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    height: 39px;
    width: 690px;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    
    
    
}

.input_nav{
    
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    
    height: 34px;
    font-size: 16px;
    

}
.mic-search{
    height: 24px;
    width: 24px;
    vertical-align: middle;
    padding-right: 15px;
    padding-top:10px;
    padding-left:10px ;


}
.cross-icon{
    height: 50px;
    width: 24px;
    flex: 1 0 auto;
    display: none;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    line-height: 44px;
}

.search-icon{
    background: none;
    
    height: 24px;
    width: 24px;
    margin: auto;
    padding-right: 15px;
    padding-top:4px;

}
/********* Start mid nav css********/
/*******Srart right Nav***********/
.r-nav{
    display: flex; 
    justify-content: space-between;
    order: 3;
    margin-left: 300px;
}

.btn-nav{
    background-color: #4285f4;
    border: 1px solid #4285f4;
    color: #FFF;
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 2px;
    text-decoration:none;
    
}
.item-icon{
    margin-top: 5px;
    
}

/*******end right Nav***********/